	<script src="jslib/bars.js"></script>
	<my-header linkname="aboutLink"></my-header>
	<div class="agile-banner">
	</div>
	<!-- //banner -->
	<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index.html">Home</a></li>
				<li class="active">About</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
	<div class="container">
		<div class="banner-btm-agile">
		<!-- //btm-wthree-left -->
			<div class="col-md-9 btm-wthree-left">
				<div class="courses">
					
					<div class="agileits_heading_section">
						<h3 class="wthree_head">About</h3>
						<p class="agileinfo_para">Team successfully organized evets from last 26th years .</p>
					</div>
						<div class="agileits_w3layouts_team_grids w3ls_courses_grids">
							<div class="col-md-6 w3ls_banner_bottom_left w3ls_courses_left">
								<div class="w3ls_courses_left_grids">
									<div class="w3ls_courses_left_grid">
										<h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Need to be change</h3>
										<p>The success of the event will be very largely determined by how well event staff carry out their allocated tasks before and during the event.</p>
									</div>
									<div class="w3ls_courses_left_grid">
										<h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Need to be change</h3>
										<p>The success of the event will be very largely determined by how well event staff carry out their allocated tasks before and during the event.</p>
									</div>
									<div class="w3ls_courses_left_grid">
										<h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Need to be change</h3>
										<p>The success of the event will be very largely determined by how well event staff carry out their allocated tasks before and during the event.</p>
									</div>

									<div class="w3ls_courses_left_grid">
										<h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Need to be change</h3>
										<p>The success of the event will be very largely determined by how well event staff carry out their allocated tasks before and during the event.</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 agileits_courses_right">
								<img src="images/about/team/2.jpg" alt=" " class="img-responsive">
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				<!-- stats-bottom -->
	<div class="team">
		
			<div class="w3_agile_team_grid">
				
				<div class="agileits_heading_section">
						<h3 class="wthree_head">Our Skills</h3>
						<p class="agileinfo_para">Successfully organize events.</p>
					</div>
				<div class="clearfix"> </div>
			</div>
			<div class="agileits_w3layouts_team_grids">
				<div class="col-md-6 w3l_stats_bottom_grid_left">
					<img src="images/about/team/5.jpg" alt=" " class="img-responsive" />
				</div>
				<div class="col-md-6 w3l_stats_bottom_grid_right">
					<div class='bar_group'>
						<div class='bar_group__bar thin elastic' label='Statistics 1 (2017)' value='230'>
							<div class='w3ls_bar_group__bar_pos'>
								<p>65%</p>
							</div>
						</div>
						<div class='bar_group__bar thin elastic' label='Statistics 2 (2016)' value='130'>
							<div class='w3ls_bar_group__bar_pos'>
								<p>35%</p>
							</div>
						</div>
						<div class='bar_group__bar thin elastic' label='Statistics 3 (2015)' value='160'>
							<div class='w3ls_bar_group__bar_pos'>
								<p>45%</p>
							</div>
						</div>
						<div class='bar_group__bar thin elastic' label='Statistics 4 (2014)' value='340'>
							<div class='w3ls_bar_group__bar_pos'>
								<p>100%</p>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		
	</div>


<!-- //stats-bottom -->	
<!-- team -->	
			<div class="welcome">
			<div class="agileits_heading_section">
						<h3 class="wthree_head">Team</h3>
						<p class="agileinfo_para">Meet Our Team.</p>
					</div>

			<div class="w3ls_news_grids w3_agileits_team_grids"> 
				<div class="col-md-6 w3_agileits_team_grid"> 
					<div class="w3layouts_news_grid">
						<img src="images/about/team1/1.jpg" alt=" " class="img-responsive" />
						<div class="w3layouts_news_grid_pos">
							<div class="wthree_text agileinfo_about_text">
								<ul class="agileits_social_list">
									<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<h4>Team Members</h4>
					<p>Field Manager</p>
				</div>
				<div class="col-md-6 w3_agileits_team_grid"> 
					<div class="w3layouts_news_grid">
						<img src="images/about/team1/2.jpg" alt=" " class="img-responsive" />
						<div class="w3layouts_news_grid_pos">
							<div class="wthree_text agileinfo_about_text">
								<ul class="agileits_social_list">
									<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<h4>Team Members</h4>
					<p>Farmer</p>
				</div>
				<div class="clearfix"> </div>
			</div>


			<div class="col-md-6 w3_agileits_team_grid"> 
			<div class="w3layouts_news_grid">
			<img src="images/about/team1/6.jpg" alt=" " class="img-responsive" />
			<div class="w3layouts_news_grid_pos">
			<div class="wthree_text agileinfo_about_text">
				<ul class="agileits_social_list">
					<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			</div>
			</div>
			<h4>Team Members</h4>
			<p>Co-Founder</p>
			</div>
			<div class="col-md-6 w3_agileits_team_grid"> 
			<div class="w3layouts_news_grid">
			<img src="images/about/team1/4.jpg" alt=" " class="img-responsive" />
			<div class="w3layouts_news_grid_pos">
			<div class="wthree_text agileinfo_about_text">
				<ul class="agileits_social_list">
					<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			</div>
			</div>
			<h4>Team Members</h4>
			<p>Senior Staff</p>
			</div>




	</div>
<!-- //team -->	
			</div>
			<!-- //btm-wthree-left -->
			<!-- btm-wthree-right -->
			<right-template></right-template>
			<!-- //btm-wthree-right -->
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- footer -->
	<my-footer></my-footer>