	<my-header linkname="chatLink"></my-header>

	<!-- //banner -->
	<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index.html">Home</a></li>
				<li class="active">Chat</li>
			</ol>
		</div>
	</div>


	<div class='container' style="margin-bottom: 100px;">
	
	  <div ng-controller='chatCtrl'>
	    
	  	<div class="w3ls_portfolio_grids w3_agile_mail_grids">	
		  	<form name="userForm"  novalidate>

		  		<div class='row'>
			      <center>
			      	<h4>Total Connected Users : <span>{{totalUser}}</span><h4>
			      	<br/>
			      	<h6 ng-if="username!=name" style="height:5px" ng-bind="typeMessage"></h6>
			      </center>
			    </div>
			    <div class='row'>
			       &nbsp;
			    </div>

			    <div class='row'>

			      <div class='col-md-12'>
			       <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.name.$pristine }">
			            <label>Name <span style="color:red;">*</span></label>
			            <input type="text" style="width: 40%" name="username" class="form-control" ng-model="username" required>
			            <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block">You name is required.</p>
			        </div>
			      </div>

			    </div>

			    <div class='row'>
			      &nbsp;
			    </div>
			    
			    <div class='row'>
			      <div class='col-md-12'>
			        <!-- <textarea style='width: 100%; height: 200px' ng-disable='true' ng-model='messageLog'></textarea> -->
			        <div >
					   <ul class="messages">
					   	<li class="heightclass" ng-repeat="(key, value) in messageBasedOnDate">
					   		
					   	   <div style="background-color: #fff"><hr><center><span>{{key}}</span></center> <hr></div>
						   <div ng-repeat="obj in value track by $index"  ng-class="obj.source == username? 'message left appeared' : 'message right appeared' " >
						      <div class="avatar">{{obj.source.length > 7 ? obj.source.substring(0,7) :   obj.source}}</div>
						      <div class="text_wrapper">
						         <div class="text">{{obj.message}}</div>
						         <div>{{obj.time}}</div>
						      </div>
						   </div>
						</li>
						</ul>

					</div>

			      </div>
			    </div>

			    <div class='row'>
			      &nbsp;
			    </div>

			    <div class='row'>
			   <!--  	<div class='col-md-9'>
				       <div class="form-group" ng-class="{ 'has-error' : userForm.message.$invalid && !userForm.name.$pristine }">
				            <label>Message</label>
				            <input type="text" name="message" class="form-control" ng-model="message" required>
				            <p ng-show="userForm.message.$invalid && !userForm.message.$pristine" class="help-block">Type your message</p>
				        </div>
				    </div> -->

				    <div class='col-md-12'>
				    	<!-- <button class='btn btn-sm btn-primary' ng-disabled="userForm.$invalid" ng-click="sendMessage(message)">Send!</button> -->


				    	<div class="bottom_wrapper clearfix">
						   <div class="message_input_wrapper">

							    <div  ng-class="{'has-error' : userForm.message.$invalid &&!userForm.name.$pristine }">
					      
					       <input type="text"  class="message_input" ng-keyup="keyUp(this)" placeholder="Type your message here... " name="message" ng-model="message" required>
					          <!--   <p ng-show="userForm.message.$invalid && !userForm.message.$pristine" class="help-block">Type your message</p> -->
					       }
					        </div>

						   <!-- <input class="message_input" placeholder="Type your message here..."> -->

						   </div>

						   <button class='btn btn-sm btn-primary message_send_button' ng-disabled="userForm.$invalid" ng-click="sendMessage(message)">Send! </button>

						   <!-- <div class="send_message">
						      <div class="icon"></div>
						      <div>Send</div>
						   </div> -->
						</div>


				    </div>
			       
			    </div>
			</form>
		</div>

	  </div>

</div>

	<!-- footer -->
	<my-footer></my-footer>










