	<my-header linkname="chatLink"></my-header>

	<!-- //banner -->
	<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index.html">Home</a></li>
				<li class="active">Chat</li>
			</ol>
		</div>
	</div>


	<div class='container' style="margin-bottom: 100px;">
	
	  <div ng-controller='chatCtrl'>
	    
	  	<div class="w3ls_portfolio_grids w3_agile_mail_grids">	
		  	<form name="userForm"  novalidate>

		  		

			    <div class='row'>

			      <div class='col-md-12'>
			       <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.name.$pristine }">
			            <label>Name <span style="color:red;">*</span></label>
			            <input type="text" style="width: 40%" name="username" class="form-control" ng-model="username" required>
			            <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block">You name is required.</p>
			        </div>
			      </div>

			    </div>

			    <div class='row'>
			      &nbsp;
			    </div>
			    
			    <div class='row'>
			      <div class='col-md-12'>
			        <!-- <textarea style='width: 100%; height: 200px' ng-disable='true' ng-model='messageLog'></textarea> -->
			        <div >
					   <ul class="messages">
					   	<li class="heightclass" ng-repeat="(key, value) in messageBasedOnDate">
					   		
					   	   <div style="background-color: #fff;height: 30px;margin-bottom: 15px;padding-top: 5px"><center><span>{{dateFormat(value[0].created_at)}}</span></center> </div>

						   <div ng-repeat="obj in value track by $index"  ng-class="obj.source == username? 'message left appeared' : 'message right appeared' " >
						   	<!-- 	12:21:43 PM -->
						      <div class="avatar">{{obj.source.length > 7 ? obj.source.substring(0,7) :   obj.source}}</div>
						      <div class="text_wrapper">
						         <div class="text">{{obj.message}}</div>
						         <div>{{obj.time}}</div>
						      </div>
						   </div>
						</li>
						</ul>

					</div>

			      </div>
			    </div>

			    <div class='row'>
			      &nbsp;
			    </div>

			    <div class='row'>
			    	<div class='col-lg-8 col-md-8 col-sm-8 col-xs-9'>
				       <div class="form-group" ng-class="{ 'has-error' : userForm.message.$invalid && !userForm.name.$pristine }">

				       	
				       		<input type="text" name="message" class="form-control" ng-model="message" required/>
				       	
				        </div>
				       
				    </div>

				    <div class='col-lg-4 col-md-4 col-sm-4 col-xs-3'>
		       		    <button class='btn btn-sm btn-primary' ng-disabled="userForm.$invalid" ng-click="sendMessage(message)">Send!</button> 
				    </div>
		       
			    </div>

			</form>
		</div>

	  </div>

</div>

	<!-- footer -->
	<my-footer></my-footer>










