



	<my-header></my-header>
	<div class="agile-banner">
	</div>
	<!-- //banner -->
	<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index.html">Home</a></li>
				<li class="active">Contact</li>
			</ol>
		</div>
	</div>


	<div class="container">
		<!-- mail -->
	<div class="banner-bottom">
			<div class="agileits_heading_section">
				<h3 class="wthree_head">Contact</h3>
				<p class="agileinfo_para">Our location</p>
			</div>
			<div class="agile-map">
				<iframe src="https://www.google.com/maps/d/embed?mid=1-VlXsvMWMr8EotfMcIwYKt-1SrI&ll=25.816797689943353%2C83.52858861755362&z=14"  frameborder="0" style="border:0" allowfullscreen></iframe>

				


		
		<!-- 	<iframe src="https://www.google.com/maps/d/embed?mid=1-VlXsvMWMr8EotfMcIwYKt-1SrI&ll=25.81127318333429%2C83.55133374999991&z=14" width="320" height="350" style="margin-top:-387px"></iframe> -->

				

			</div>
			<div class="w3ls_portfolio_grids w3_agile_mail_grids">	
				<form>
					<div class="col-md-6 w3_agile_mail_grid">
						<span class="input input--ichiro">
							<input class="input__field input__field--ichiro" type="text" id="input-25" placeholder=" " required="" />
							<label class="input__label input__label--ichiro" for="input-25">
								<span class="input__label-content input__label-content--ichiro">Your Name</span>
							</label>
						</span>
						<span class="input input--ichiro">
							<input class="input__field input__field--ichiro" type="email" id="input-26" placeholder=" " required="" />
							<label class="input__label input__label--ichiro" for="input-26">
								<span class="input__label-content input__label-content--ichiro">Your Email</span>
							</label>
						</span>
						<span class="input input--ichiro">
							<input class="input__field input__field--ichiro" type="text" id="input-27" placeholder=" " required="" />
							<label class="input__label input__label--ichiro" for="input-27">
								<span class="input__label-content input__label-content--ichiro">Your Phone Number</span>
							</label>
						</span>
						<input type="submit" value="Submit">
					</div>
					<div class="col-md-6 w3_agile_mail_grid">
						<textarea name="Message" placeholder="Your message here..." required=""></textarea>
					</div>
					<div class="clearfix"> </div>
				</form>
			</div>
		
	</div>
<!-- //mail -->

	</div>

	<!-- footer -->
	<my-footer></my-footer>

