<!-- footer -->
	<div class="footer-agile-info">
		<div class="container">
			<div class="col-md-4 w3layouts-footer">
				<h3>Contact Information</h3>
					<p><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Bhojapur, Ghazipur ,Uttar Pradesh INDIA </p>
					<p><span><i class="fa fa-envelope" aria-hidden="true"></i></span><a >E: srbhkmr23</a> </p>
					<p><span><i class="fa fa-mobile" aria-hidden="true"></i></span>P: n/a </p>
					<p><span><i class="fa fa-globe" aria-hidden="true"></i></span><a >W: www.n/a.com</a></p>
			</div>
			<div class="col-md-4 wthree-footer">
				<h2>Event Blog</h2>
				<p>Our team is dedicated for creation and development of events such as festivals, formal parties, concerts, or conventions. It involves identifying the target audience, devising the event concept, and coordinating the technical aspects before actually launching the event.</p>
			</div>
			<div class="col-md-4 w3-agile">
				<h3>Newsletter</h3>
				<p>Thie is the part of future release.</p>
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email" required="">
					<input type="submit" value="Send">
				</form>
			</div>
		</div>
	</div>
	<!-- footer -->
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="w3agile-list">
				<ul>
					<li><a ui-sref="home">Home</a></li>
					<li><a ui-sref="about">About</a></li>
					<li><a ui-sref="gallery">Gallery</a></li>
					<li><a ui-sref="contact">Contact</a></li>
				</ul>
			</div>
			<div class="agileinfo">
				<p>© 2017 Evnt Blog . All Rights Reserved . Design by <a href="">srbhkmr23</a></p>
			</div>
		</div>
	</div>