	<script src="jslib/bars.js"></script>
	<my-header></my-header>
	<div class="agile-banner">
	</div>
	<!-- //banner -->
	<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index.html">Home</a></li>
				<li class="active">Gallery</li>
			</ol>
		</div>
	</div>


	<div class="container">
		<div class="banner-btm-agile">
		<!-- //btm-wthree-left -->
			<div class="col-md-9 btm-wthree-left">
				<div class="agileits_heading_section">
				<h3 class="wthree_head">Gallery</h3>
				<p class="agileinfo_para"></p>
			</div>
			<div class="w3ls_work_grids">	
				<div class="col-md-6 agileits_w3layouts_work_grid">	
					<div class="agileits_w3layouts_work_grid1 w3layouts_work_grid1 hover14 column">
						<div class="w3_agile_work_effect">
							<a href="images/gallery/1.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
								<figure>
									<img src="images/gallery/1.jpg" alt=" " class="img-responsive" />
								</figure>
							</a>
						</div>
					</div>
					<div class="agileits_w3layouts_work_grid1 hover14 column">
						<div class="w3_agile_work_effect">
							<a href="images/gallery/2.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
								<figure>
									<img src="images/gallery/2.jpg" alt=" " class="img-responsive" />
								</figure>
							</a>
						</div>
					</div>
					<div class="agileits_w3layouts_work_grid1 hover14 column">
						<div class="w3_agile_work_effect">
							<a href="images/gallery/3.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
								<figure>
									<img src="images/gallery/3.jpg" alt=" " class="img-responsive" />
								</figure>
							</a>
						</div>
					</div>
					<div class="agileits_w3layouts_work_grid1 hover14 column">
						<div class="w3_agile_work_effect">
							<a href="images/gallery/12.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
								<figure>
									<img src="images/gallery/12.jpg" alt=" " class="img-responsive" />
								</figure>
							</a>
						</div>
					</div>
					<div class="agileits_w3layouts_work_grid1 hover14 column">
						<div class="w3_agile_work_effect">
							<a href="images/gallery/8.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
								<figure>
									<img src="images/gallery/8.jpg" alt=" " class="img-responsive" />
								</figure>
							</a>
						</div>
					</div>
					<div class="agileits_w3layouts_work_grid1 hover14 column">
						<div class="w3_agile_work_effect">
							<a href="images/gallery/6.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
								<figure>
									<img src="images/gallery/6.jpg" alt=" " class="img-responsive" />
								</figure>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 agileits_w3layouts_work_grid-1">	
					<div class="agileits_w3layouts_work_grid1 hover14 column">
						<div class="w3_agile_work_effect">
							<a href="images/gallery/14.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
								<figure>
									<img src="images/gallery/14.jpg" alt=" " class="img-responsive" />
								</figure>
							</a>
						</div>
					</div>
					<div class="agileits_w3layouts_work_grid1 hover14 column">
						<div class="w3_agile_work_effect">
							<a href="images/gallery/2.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
								<figure>
									<img src="images/gallery/4.jpg" alt=" " class="img-responsive" />
								</figure>
							</a>
						</div>
					</div>
					<div class="agileits_w3layouts_work_grid1 hover14 column">
						<div class="w3_agile_work_effect">
							<a href="images/gallery/5.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
								<figure>
									<img src="images/gallery/5.jpg" alt=" " class="img-responsive" />
								</figure>
							</a>
						</div>
					</div>
					<div class="agileits_w3layouts_work_grid1 w3layouts_work_grid1 hover14 column">
						<div class="w3_agile_work_effect">
							<a href="images/gallery/7.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
								<figure>
									<img src="images/gallery/7.jpg" alt=" " class="img-responsive" />
								</figure>
							</a>
						</div>
					</div>
					<div class="agileits_w3layouts_work_grid1 hover14 column">
						<div class="w3_agile_work_effect">
							<a href="images/gallery/13.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
								<figure>
									<img src="images/gallery/13.jpg" alt=" " class="img-responsive" />
								</figure>
							</a>
						</div>
					</div>
					<div class="agileits_w3layouts_work_grid1 hover14 column">
						<div class="w3_agile_work_effect">
							<a href="images/gallery/9.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
								<figure>
									<img src="images/gallery/9.jpg" alt=" " class="img-responsive" />
								</figure>
							</a>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>

			</div>
			<!-- //btm-wthree-left -->
			<script type="text/javascript" src="jslib/smoothbox.jquery2.js"></script>
				<!-- btm-wthree-right -->
			<right-template></right-template>
			<!-- //btm-wthree-right -->
			<div class="clearfix"></div>
		</div>
	</div>

	<!-- footer -->
	<my-footer></my-footer>