
	<my-header></my-header>
	<!-- //header -->
	<!-- top-header and slider -->
	<div class="w3-slider">	
	<!-- main-slider -->
		
			<ul id="demo1" >
				<li>
					<img src="images/slider_images/1.jpg" alt="" />
					<!--Slider Description example-->
					<div class="slide-desc">
						<h3>Creative</h3>
						<p>Meet our dedicated team. </p>
					</div>
				</li>
				<li>
					<img src="images/slider_images/2.jpg" alt="" />
					  <div class="slide-desc">
						<h3>Passion </h3>
						<p>Meet our dedicated team. </p>
					</div>
				</li>
				<li>
					<img src="images/slider_images/3.jpg" alt="" />
					<div class="slide-desc">
						<h3>Life Style</h3>
						<p>Meet our dedicated team. </p>
					</div>
				</li>

				<li>
					<img src="images/slider_images/4.jpg" alt="" />
					<div class="slide-desc">
						<h3>Creative</h3>
						<p>Meet our dedicated team. </p>
					</div>
				</li>

				

				<li>
					<img src="images/slider_images/6.jpg" alt="" />
					<div class="slide-desc">
						<h3>Passion</h3>
						<p>Meet our dedicated team. </p>
					</div>
				</li>

				<li>
					<img src="images/slider_images/7.jpg" alt="" />
					<div class="slide-desc">
						<h3>Life Style</h3>
						<p>Meet our dedicated team.</p>
					</div>
				</li>
				
			</ul>
		
	</div>
	<!-- //main-slider -->
	<!-- //top-header and slider -->
	<div class="container">
		<div class="banner-btm-agile">
		<!-- //btm-wthree-left -->
			<div class="col-md-9 btm-wthree-left">
				<div class="wthree-top">
					<div class="w3agile-top">
						<div class="w3agile_special_deals_grid_left_grid">
							<a href="images/zoom_in/3.jpg"><img src="images/zoom_in/3.jpg"  style="width:80% !important" class="img-responsive" alt="" /></a>
						</div>
						<div class="w3agile-middle" >
						<ul>
							<li><a ><i class="fa fa-calendar" aria-hidden="true"></i>FEB,2016</a></li>
							
							
						</ul>
					</div>
					</div>
					
					<div class="w3agile-bottom">
						<div class="col-md-3 w3agile-left">
							<h5>None of us is smart as all of us</h5>
						</div>
						<div class="col-md-9 w3agile-right">
							<h3><a >Work for Self </a></h3>
							<p>Our team is dedicated for creation and development of events such as festivals, formal parties, concerts, or conventions. It involves identifying the target audience, devising the event concept, and coordinating the technical aspects before actually launching the event.</p>
							<a class="agileits w3layouts" >Read More <span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></a>
						</div>
							<div class="clearfix"></div>
					</div>
				</div>
				<!-- wthree-top-1 -->
				<div class="wthree-top-1">
					<div class="w3agile-top">
						<section class="slider">
							<div class="flexslider">
								<ul class="slides">
									<li>
										<div class="w3agile_special_deals_grid_left_grid">
											<a href="" ><img src="images/deal_grid/1.jpg" class="img-responsive" alt="" /></a>
										</div>
									</li>
									<li>
										<div class="w3agile_special_deals_grid_left_grid">
										<a href="" ><img src="images/deal_grid/2.jpg" class="img-responsive" alt="" /></a>
										</div>
									</li>
									<li>
										<div class="w3agile_special_deals_grid_left_grid">
											<a href="" ><img src="images/deal_grid/3.jpg" class="img-responsive" alt="" /></a>
										</div>
									</li>
									<li>
										<div class="w3agile_special_deals_grid_left_grid">
											<a href="" ><img src="images/deal_grid/4.jpg" class="img-responsive" alt="" /></a>
										</div>
									</li>
								</ul>
							</div>
						</section>


						<div class="w3agile-middle">
						<ul>
							<li><a><i class="fa fa-calendar" aria-hidden="true"></i>JAN,2017</a></li>
							
							
						</ul>
					</div>
					</div>
					
					<div class="w3agile-bottom">
						<div class="col-md-3 w3agile-left">
							<h5>The strength of the team is each member. The strength of each member is the team.</h5>
						</div>
						<div class="col-md-9 w3agile-right">
							<h3><a >Work for Self </a></h3>
							<p>The recent growth of festivals and events management can no longer be ad hoc. Events and festivals have a large impact on their communities and, in some cases, the whole country.</p>
							<a class="agileits w3layouts">Read More <span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></a>
						</div>
							<div class="clearfix"></div>
					</div>
				</div>
				<!-- //wthree-top-1 -->
				<!-- wthree-top-1 -->
				<div class="wthree-top-1">
					<div class="w3agile-top">
						



						<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 margin-top-100  ">
		                    <div class="col-md-3 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">
		                        <div class="text-center">
		                            <p>
		                                <img class="img-responsive img-thumbnail img-circle"  src="images/round/1.jpg" alt="">
		                            </p>
		                            <h3>Ajay Srivastav</h3>
		                            <p>
		                               
		                            </p>
		                        </div>
		                    </div>
		                    <div class="col-md-3 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.6s">
		                        <div class="text-center">
		                            <p>
		                                <img class="img-responsive img-thumbnail img-circle" src="images/round/2.jpg" alt="">
		                            </p>
		                            <h3>Amit Srivastav</h3>
		                            <p>
		                                
		                            </p>
		                        </div>
		                    </div>
		                    <div class="col-md-3 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.6s">
		                        <div class="text-center">
		                            <p>
		                                <img class="img-responsive img-thumbnail img-circle" src="images/round/3.jpg" alt="">
		                            </p>
		                            <h3>Sudhir Srivastav</h3>
		                            <p>
		                                
		                            </p>
		                        </div>
		                    </div>
		                    <div class="col-md-3 col-sm-6" data-scrollreveal="enter right and move 100px, wait 0.6s">
		                        <div class="text-center">
		                            <p>
		                                <img class="img-responsive img-thumbnail img-circle"  src="images/round/4.jpg" alt="">
		                            </p>
		                            <h3>Saroj Srivastav</h3>
		                            <p>  
		                                
		                            </p>
		                        </div>
		                    </div>
		                </div>









					</div>
					
					<div class="w3agile-bottom">
						<div class="col-md-3 w3agile-left">
							<h5>A successful team is a group of many hands and one mind.</h5>
						</div>
						<div class="col-md-9 w3agile-right">
							<h3><a >Work For Self </a></h3>
							<p>The success of the event will be very largely determined by how well event staff carry out their allocated tasks before and during the event.</p>
							<a class="agileits w3layouts" >Read More <span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></a>
						</div>
							<div class="clearfix"></div>
					</div>
				</div>
				<!-- //wthree-top-1 -->
				<div class="wthree-top-1">
					<div class="w3agile-top">
					<div class="col-md-6 w3-lft">
						<div class="w3agile_special_deals_grid_left_grid">
							<a href="images/new/1.jpg"><img src="images/new/1.jpg" class="img-responsive" alt="" /></a>
						</div>
					</div>
					<div class="col-md-6 w3-rgt">
						<div class="w3-rgt-top">
							<div class="w3agile_special_deals_grid_left_grid">
								<a href="images/new/2.jpg"><img src="images/new/2.jpg" class="img-responsive" alt="" /></a>
							</div>
						</div>
						<div class="w3-rgt-top1">
							<div class="w3agile_special_deals_grid_left_grid">
								<a href="images/new/3.jpg"><img src="images/new/3.jpg" class="img-responsive" alt="" /></a>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
						<div class="w3agile-middle">
						<ul>
							<li><a ><i class="fa fa-calendar" aria-hidden="true"></i>DEC, 2015</a></li>
							
							
						</ul>
					</div>
					</div>
					
					<div class="w3agile-bottom">
						<div class="col-md-3 w3agile-left">
							<h5>It is literally true that you can succeed best and quickest by helping others to succeed</h5>
						</div>
						<div class="col-md-9 w3agile-right">
							<h3><a >Work for self </a></h3>
							<p>Although the event plan may stipulate and provide details of every task that needs to be completed, it is still necessary for the Event Director to ensure that every task is completed by the required date and time.</p>
							<a class="agileits w3layouts" >Read More <span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></a>
						</div>
							<div class="clearfix"></div>
					</div>
				</div>
				<!-- wthree-top-1 -->
			</div>
			<!-- //btm-wthree-left -->
			<!-- btm-wthree-right -->
			<right-template></right-template>
			<!-- //btm-wthree-right -->
			<div class="clearfix"></div>
		</div>
	</div>
	<my-footer></my-footer>



<script src="jslib/skdslider.min.js"></script>		  
<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});


						
			jQuery('#responsive').change(function(){
			  $('#responsive_wrapper').width(jQuery(this).val());
			});
			
		});
</script>